In [167]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer, RobustScaler
import matplotlib.pyplot as plt
import scipy.stats as stats
from pandas_profiling import ProfileReport
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [168]:
def diagnostic_plots(df, variable):

    # function to plot a histogram and a Q-Q plot
    # side by side, for a certain variable

    plt.figure(figsize=(15,6))
    plt.subplot(1, 2, 1)
    df[variable].hist()
    plt.title(variable)
    plt.subplot(1, 2, 2)
    stats.probplot(df[variable], dist="norm", plot=plt)

    plt.show()

In [169]:
# create ProfileReport
def createProfileReport(df):
    dt = datetime.now().strftime("%H%M%d%m%Y")  # current dateTime for fileName
    profile = ProfileReport(df, minimal=True)
    fileName = f"DataAnalysis{dt}"
    profile.to_file(output_file=fileName+'.html')
    return f"{fileName}.html"

In [170]:
data=pd.read_csv("C:\\Users\\beatb\\OneDrive\\Documents\\5. Semester\\Maschine_Learning\\Projekt\\fhgr-3-s-ml-project-group-2\\beat\\beijing_original.csv",encoding="iso-8859-1", low_memory=False)
df = data.drop(['url', 'id', 'Cid', 'tradeTime', 'DOM'], axis=1)

In [171]:
display(df.columns)

Index(['Lng', 'Lat', 'followers', 'totalPrice', 'price', 'square',
       'livingRoom', 'drawingRoom', 'kitchen', 'bathRoom', 'floor',
       'buildingType', 'constructionTime', 'renovationCondition',
       'buildingStructure', 'ladderRatio', 'elevator', 'fiveYearsProperty',
       'subway', 'district', 'communityAverage'],
      dtype='object')

In [172]:
df

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,116.475489,40.019520,106,415.0,31680,131.00,2,1,1,1,...,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,116.453917,39.881534,126,575.0,43436,132.38,2,2,1,2,...,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3,2,1,3,...,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,116.438010,40.076114,138,297.5,22202,134.00,3,1,1,1,...,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,116.428392,39.886229,286,392.0,48396,81.00,2,1,1,1,...,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,116.546899,39.755236,8,350.0,20580,170.07,3,2,1,2,...,4.0,2003,1,6,0.333,0.0,1.0,0.0,3,36545.0
318847,116.497474,39.810115,1,108.8,31006,35.09,1,0,1,1,...,1.0,2009,1,6,0.222,1.0,0.0,1.0,3,54282.0
318848,116.497256,39.804081,2,359.0,35138,102.17,2,2,1,2,...,4.0,2000,3,6,0.500,1.0,1.0,0.0,3,46927.0
318849,116.501794,39.799347,4,720.0,40373,178.34,4,2,1,2,...,4.0,2003,4,2,0.500,0.0,1.0,0.0,3,54842.0
318850,116.497474,39.810115,0,450.0,48675,92.45,2,1,1,1,...,4.0,Î´Öª,4,6,1.000,1.0,0.0,1.0,3,54282.0

In [173]:
df.isnull().sum()

Lng                       0
Lat                       0
followers                 0
totalPrice                0
price                     0
square                    0
livingRoom                0
drawingRoom               0
kitchen                   0
bathRoom                  0
floor                     0
buildingType           2021
constructionTime          0
renovationCondition       0
buildingStructure         0
ladderRatio               0
elevator                 32
fiveYearsProperty        32
subway                   32
district                  0
communityAverage        463
dtype: int64

In [174]:
df=df.drop(df[df.drop(['buildingType', 'communityAverage'], axis=1).isnull().any(axis=1)].index, axis=0)

In [175]:
df.loc[df["communityAverage"].isnull()==True, ["communityAverage"]].isna().sum()
#Was machen wir damit?

communityAverage    463
dtype: int64

In [176]:
df.isnull().sum()

Lng                       0
Lat                       0
followers                 0
totalPrice                0
price                     0
square                    0
livingRoom                0
drawingRoom               0
kitchen                   0
bathRoom                  0
floor                     0
buildingType           2021
constructionTime          0
renovationCondition       0
buildingStructure         0
ladderRatio               0
elevator                  0
fiveYearsProperty         0
subway                    0
district                  0
communityAverage        463
dtype: int64

In [177]:
display(df)

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,116.475489,40.019520,106,415.0,31680,131.00,2,1,1,1,...,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,116.453917,39.881534,126,575.0,43436,132.38,2,2,1,2,...,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3,2,1,3,...,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,116.438010,40.076114,138,297.5,22202,134.00,3,1,1,1,...,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,116.428392,39.886229,286,392.0,48396,81.00,2,1,1,1,...,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,116.546899,39.755236,8,350.0,20580,170.07,3,2,1,2,...,4.0,2003,1,6,0.333,0.0,1.0,0.0,3,36545.0
318847,116.497474,39.810115,1,108.8,31006,35.09,1,0,1,1,...,1.0,2009,1,6,0.222,1.0,0.0,1.0,3,54282.0
318848,116.497256,39.804081,2,359.0,35138,102.17,2,2,1,2,...,4.0,2000,3,6,0.500,1.0,1.0,0.0,3,46927.0
318849,116.501794,39.799347,4,720.0,40373,178.34,4,2,1,2,...,4.0,2003,4,2,0.500,0.0,1.0,0.0,3,54842.0
318850,116.497474,39.810115,0,450.0,48675,92.45,2,1,1,1,...,4.0,Î´Öª,4,6,1.000,1.0,0.0,1.0,3,54282.0

In [178]:
df.loc[:,["floor"]]=df["floor"].str.replace("[¸ß ÖÐµ×Í¶¥Î´ª]","")

In [179]:
df['floor']

0         26
1         22
2          4
3         21
4          6
          ..
318846     5
318847    24
318848     7
318849     5
318850    17
Name: floor, Length: 318819, dtype: object

In [180]:
df["livingRoom"]=pd.to_numeric(df["livingRoom"], errors='coerce')
df["drawingRoom"]=pd.to_numeric(df["drawingRoom"], errors='coerce')
df["bathRoom"]=pd.to_numeric(df["bathRoom"], errors='coerce')
df["constructionTime"]=pd.to_numeric(df["constructionTime"], errors='coerce')
df["floor"]=pd.to_numeric(df["floor"], errors='coerce')

In [181]:
df.dtypes

Lng                    float64
Lat                    float64
followers                int64
totalPrice             float64
price                    int64
square                 float64
livingRoom               int64
drawingRoom              int64
kitchen                  int64
bathRoom                 int64
floor                    int64
buildingType           float64
constructionTime       float64
renovationCondition      int64
buildingStructure        int64
ladderRatio            float64
elevator               float64
fiveYearsProperty      float64
subway                 float64
district                 int64
communityAverage       float64
dtype: object

In [182]:
df.isna().sum()

Lng                        0
Lat                        0
followers                  0
totalPrice                 0
price                      0
square                     0
livingRoom                 0
drawingRoom                0
kitchen                    0
bathRoom                   0
floor                      0
buildingType            2021
constructionTime       19283
renovationCondition        0
buildingStructure          0
ladderRatio                0
elevator                   0
fiveYearsProperty          0
subway                     0
district                   0
communityAverage         463
dtype: int64

In [183]:


print(str((df['constructionTime'].isnull().sum()/df['constructionTime'].count())*100)+"% missing values")
print()
df=df.drop(['constructionTime'], axis=1)

6.437623524384381% missing values

In [184]:
df.columns

Index(['Lng', 'Lat', 'followers', 'totalPrice', 'price', 'square',
       'livingRoom', 'drawingRoom', 'kitchen', 'bathRoom', 'floor',
       'buildingType', 'renovationCondition', 'buildingStructure',
       'ladderRatio', 'elevator', 'fiveYearsProperty', 'subway', 'district',
       'communityAverage'],
      dtype='object')

In [185]:
scaler = MinMaxScaler(feature_range=(-1,1))
scaler.fit(df)
X_scaled = scaler.transform(df)
df_scaled= pd.DataFrame(X_scaled, columns=df.columns)
display(X_scaled)

array([[ 2.21388044e-01,  2.54506751e-01, -8.14523185e-01, ...,
         1.00000000e+00, -2.22044605e-16, -4.75519848e-01],
       [ 1.56004874e-01, -1.86534724e-01, -7.79527559e-01, ...,
        -1.00000000e+00, -2.22044605e-16, -2.95352428e-01],
       [ 4.83529940e-01, -2.00563184e-01, -9.16010499e-01, ...,
        -1.00000000e+00, -2.22044605e-16, -5.66787800e-01],
       ...,
       [ 2.87362244e-01, -4.34095965e-01, -9.96500437e-01, ...,
        -1.00000000e+00, -6.66666667e-01, -5.81103203e-01],
       [ 3.01116594e-01, -4.49227140e-01, -9.93000875e-01, ...,
        -1.00000000e+00, -6.66666667e-01, -4.89208299e-01],
       [ 2.88022987e-01, -4.14809630e-01, -1.00000000e+00, ...,
         1.00000000e+00, -6.66666667e-01, -4.95710023e-01]])

In [186]:

createProfileReport(df)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

'DataAnalysis162518102022.html'

In [187]:
df.isna().sum()

Lng                       0
Lat                       0
followers                 0
totalPrice                0
price                     0
square                    0
livingRoom                0
drawingRoom               0
kitchen                   0
bathRoom                  0
floor                     0
buildingType           2021
renovationCondition       0
buildingStructure         0
ladderRatio               0
elevator                  0
fiveYearsProperty         0
subway                    0
district                  0
communityAverage        463
dtype: int64

In [188]:


df=df.drop(['Lng','Lat','followers'], axis=1)

In [189]:
df=df.fillna(0)
X_train, X_test, y_train, y_test = train_test_split(
    df,
    df['price'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((223173, 17), (95646, 17))

In [190]:

# create linear regression
regr = linear_model.LinearRegression()
# train model using training set
reg = regr.fit(X_train,y_train)

In [191]:
# regression coefficients
print('Coefficients: ', reg.coef_)
# intercept
print('intercept: ', reg.intercept_)

Coefficients:  [ 1.58690264e-13  1.00000000e+00  1.35652148e-13 -3.33947261e-13
 -4.36001286e-12 -1.35559742e-12  4.54412945e-12  1.04265448e-13
  2.49661294e-14 -1.93217479e-13 -4.56237133e-14  1.06479738e-17
  3.36713178e-13  8.06063011e-13  6.30139160e-13  7.50722496e-14
 -1.44504359e-16]
intercept:  -4.3655745685100555e-11

In [192]:
y_pred = regr.predict(X_test)

In [193]:
r2_score(y_test, y_pred)

1.0