In [431]:
import pandas as pd

In [432]:
data=pd.read_csv("C:\\Users\\beatb\\OneDrive\\Documents\\5. Semester\\Maschine_Learning\\Projekt\\fhgr-3-s-ml-project-group-2\\beat\\beijing_original.csv",encoding="iso-8859-1", low_memory=False)
df = data.drop(['url', 'id', 'Cid', 'tradeTime', 'DOM'], axis=1)

In [433]:
display(df.columns)

Index(['Lng', 'Lat', 'followers', 'totalPrice', 'price', 'square',
       'livingRoom', 'drawingRoom', 'kitchen', 'bathRoom', 'floor',
       'buildingType', 'constructionTime', 'renovationCondition',
       'buildingStructure', 'ladderRatio', 'elevator', 'fiveYearsProperty',
       'subway', 'district', 'communityAverage'],
      dtype='object')

In [434]:
df

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,116.475489,40.019520,106,415.0,31680,131.00,2,1,1,1,...,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,116.453917,39.881534,126,575.0,43436,132.38,2,2,1,2,...,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3,2,1,3,...,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,116.438010,40.076114,138,297.5,22202,134.00,3,1,1,1,...,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,116.428392,39.886229,286,392.0,48396,81.00,2,1,1,1,...,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,116.546899,39.755236,8,350.0,20580,170.07,3,2,1,2,...,4.0,2003,1,6,0.333,0.0,1.0,0.0,3,36545.0
318847,116.497474,39.810115,1,108.8,31006,35.09,1,0,1,1,...,1.0,2009,1,6,0.222,1.0,0.0,1.0,3,54282.0
318848,116.497256,39.804081,2,359.0,35138,102.17,2,2,1,2,...,4.0,2000,3,6,0.500,1.0,1.0,0.0,3,46927.0
318849,116.501794,39.799347,4,720.0,40373,178.34,4,2,1,2,...,4.0,2003,4,2,0.500,0.0,1.0,0.0,3,54842.0
318850,116.497474,39.810115,0,450.0,48675,92.45,2,1,1,1,...,4.0,Î´Öª,4,6,1.000,1.0,0.0,1.0,3,54282.0

In [435]:
df.isnull().sum()

Lng                       0
Lat                       0
followers                 0
totalPrice                0
price                     0
square                    0
livingRoom                0
drawingRoom               0
kitchen                   0
bathRoom                  0
floor                     0
buildingType           2021
constructionTime          0
renovationCondition       0
buildingStructure         0
ladderRatio               0
elevator                 32
fiveYearsProperty        32
subway                   32
district                  0
communityAverage        463
dtype: int64

In [436]:
df=df.drop(df[df.drop(['elevator', 'fiveYearsProperty'], axis=1).isnull().any(axis=1)].index, axis=0)

In [437]:
df.loc[df["communityAverage"].isnull()==True, ["communityAverage"]].isna().sum()
#Was machen wir damit?

communityAverage    0.0
dtype: float64

In [438]:
display(df)

,Lng,Lat,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,bathRoom,...,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway,district,communityAverage
0,116.475489,40.019520,106,415.0,31680,131.00,2,1,1,1,...,1.0,2005,3,6,0.217,1.0,0.0,1.0,7,56021.0
1,116.453917,39.881534,126,575.0,43436,132.38,2,2,1,2,...,1.0,2004,4,6,0.667,1.0,1.0,0.0,7,71539.0
2,116.561978,39.877145,48,1030.0,52021,198.00,3,2,1,3,...,4.0,2005,3,6,0.500,1.0,0.0,0.0,7,48160.0
3,116.438010,40.076114,138,297.5,22202,134.00,3,1,1,1,...,1.0,2008,1,6,0.273,1.0,0.0,0.0,6,51238.0
4,116.428392,39.886229,286,392.0,48396,81.00,2,1,1,1,...,4.0,1960,2,2,0.333,0.0,1.0,1.0,1,62588.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318846,116.546899,39.755236,8,350.0,20580,170.07,3,2,1,2,...,4.0,2003,1,6,0.333,0.0,1.0,0.0,3,36545.0
318847,116.497474,39.810115,1,108.8,31006,35.09,1,0,1,1,...,1.0,2009,1,6,0.222,1.0,0.0,1.0,3,54282.0
318848,116.497256,39.804081,2,359.0,35138,102.17,2,2,1,2,...,4.0,2000,3,6,0.500,1.0,1.0,0.0,3,46927.0
318849,116.501794,39.799347,4,720.0,40373,178.34,4,2,1,2,...,4.0,2003,4,2,0.500,0.0,1.0,0.0,3,54842.0
318850,116.497474,39.810115,0,450.0,48675,92.45,2,1,1,1,...,4.0,Î´Öª,4,6,1.000,1.0,0.0,1.0,3,54282.0

In [439]:
df.loc[:,["floor"]]=df["floor"].str.replace("[¸ß ÖÐµ×Í¶¥Î´ª]","")

C:\Users\beatb\AppData\Local\Temp\ipykernel_14860\2320247883.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:,["floor"]]=df["floor"].str.replace("[¸ß ÖÐµ×Í¶¥Î´ª]","")

In [440]:
df['floor']

0         26
1         22
2          4
3         21
4          6
          ..
318846     5
318847    24
318848     7
318849     5
318850    17
Name: floor, Length: 316448, dtype: object

In [441]:
df["livingRoom"]=pd.to_numeric(df["livingRoom"], errors='coerce')
df["drawingRoom"]=pd.to_numeric(df["drawingRoom"], errors='coerce')
df["bathRoom"]=pd.to_numeric(df["bathRoom"], errors='coerce')
df["constructionTime"]=pd.to_numeric(df["constructionTime"], errors='coerce')
df["floor"]=pd.to_numeric(df["floor"], errors='coerce')

In [442]:
df.dtypes

Lng                    float64
Lat                    float64
followers                int64
totalPrice             float64
price                    int64
square                 float64
livingRoom               int64
drawingRoom              int64
kitchen                  int64
bathRoom                 int64
floor                    int64
buildingType           float64
constructionTime       float64
renovationCondition      int64
buildingStructure        int64
ladderRatio            float64
elevator               float64
fiveYearsProperty      float64
subway                 float64
district                 int64
communityAverage       float64
dtype: object

In [443]:
df.isna().sum()

Lng                        0
Lat                        0
followers                  0
totalPrice                 0
price                      0
square                     0
livingRoom                 0
drawingRoom                0
kitchen                    0
bathRoom                   0
floor                      0
buildingType               0
constructionTime       18747
renovationCondition        0
buildingStructure          0
ladderRatio                0
elevator                   0
fiveYearsProperty          0
subway                     0
district                   0
communityAverage           0
dtype: int64

In [444]:
#for i in range (df.dtypes=='object').sum():
#df.loc[:,list(df.dtypes=='object')].iloc[:,[1]].squeeze()=pd.to_numeric(df.loc[:,list(df.dtypes=='object')].iloc[:,[0]].squeeze(), errors='coerce')