In [10]:
import pandas as pd
from sklearn.cluster import KMeans

In [11]:
df = pd.read_csv('salaries.csv')

In [13]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Marketing Data Analyst,200000,USD,200000,GB,100,GB,S
1,2022,EN,FT,Data Scientist,96000,CAD,74378,CA,100,CA,L
2,2022,SE,FT,Data Science Lead,165000,USD,165000,US,50,US,S
3,2022,EN,FT,Data Scientist,27000,GBP,33599,GB,50,GB,L
4,2022,SE,FT,Data Engineer,185900,USD,185900,US,0,US,M

In [12]:
k_means = KMeans(n_clusters=3)
k_means.fit(df)

labels = k_means.predict(df)

ValueError: could not convert string to float: 'SE'